html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: sans-serif;
}

.talk.continued .avatar img {
    display: none;
}

.talk.continued .speaker {
    display: none;
}

.talk .avatar img {
    border-radius: 5px;
}

.talk.continued.hidden, .talk.not-continued.hidden {
    padding-top: 0;
}

.talk.hidden > div {
    display: none;
}

.talk:last-child {
    margin-bottom: 10px;
}
