<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="io.kokoro.XamarinForms" android:versionCode="1" android:versionName="1.1" android:installLocation="auto" android:extractNativeLibs="false">
  <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<application android:label="kokoro.io" android:icon="@drawable/kokoro"></application>
</manifest>