/* Defines KokoroIO.XamarinForms' orignal styles */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -ms-content-zooming: none;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: sans-serif;
}
.talk.continued .avatar img {
  display: none;
}
.talk.continued .speaker {
  display: none;
}
.talk .avatar img {
  border-radius: 5px;
}
.talk.continued.hidden,
.talk.not-continued.hidden {
  padding-top: 0;
}
.talk.hidden > div {
  display: none;
}
.talk:last-child {
  margin-bottom: 10px;
}
.talk {
  position: relative;
}
.talk .embed_content .nsfw-mark.fa.fa-exclamation-triangle {
  width: 14px;
  height: 14px;
  background-image: url(icons/variants/ic_warning_f39c12_24px.svg);
  background-size: cover;
}
.talk > .message-menu {
  display: none;
}
.talk.message-hover,
.talk:hover {
  background-color: #eee;
}
.talk.message-hover > .message-menu,
.talk:hover > .message-menu {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  top: -8px;
  right: 32px;
  font-size: 16px;
  line-height: 16px;
  z-index: 100;
  font-weight: bold;
  color: #ccc;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}