/* Defines KokoroIO.XamarinForms' orignal styles */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -ms-content-zooming: none;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: sans-serif;
}

.talk.continued .avatar img {
    display: none;
}

.talk.continued .speaker {
    display: none;
}

.talk .avatar {
    max-height: 40px;
}

.talk .avatar img {
    border-radius: 5px;
}

.talk.continued.hidden, .talk.not-continued.hidden {
    padding-top: 0;
}

.talk.hidden {
    > div {
        display: none !important;
    }
}

.talk:last-child {
    margin-bottom: 10px;
}

.talk {
    position: relative;

    > .message-menu {
        display: none;
    }

    &.message-hover, &:hover {
        background-color: #f8f8f8;

        @iconSize: 32px;

        > .message-menu {
            display: flex;
            flex-flow: row nowrap;
            position: absolute;
            width: @iconSize * 3;
            height: @iconSize;
            top: -@iconSize;
            right: 32px;
            line-height: @iconSize;
            z-index: 100;
            text-align: center;

            > a {
                width: @iconSize;
                height: @iconSize;
                box-sizing: border-box;
                border: 1px solid #ccc;
                background-color: #fff;
                border-left-color: #fff;

                &:first-child {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                    border-left-color: #ccc;
                }

                &:last-child {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }

                .fa {
                    width: 18px;
                    height: 18px;
                }

                &.disabled .fa {
                    opacity: 0.5;
                }
            }
        }

        &:first-child {
            > .message-menu {
                top: 0;
            }
        }
    }
}

html.html-phone {
    .talk {
        @iconSize: 24px;

        > .message-menu {
            display: block;
            position: absolute;
            width: @iconSize;
            height: @iconSize;
            top: 0;
            right: 0;
            line-height: @iconSize;
            text-align: center;
            opacity: 0.1;

            > a {
                width: @iconSize;
                height: @iconSize;
                box-sizing: border-box;
                border-width: 0;
                border-radius: 0;
                background-color: transparent;

                .fa {
                    width: @iconSize;
                    height: @iconSize;
                }
            }
        }

        &.message-hover, &:hover {
            background-color: none;

            > .message-menu {
                opacity: 0.8;
            }
        }
    }
}

.fa {
    display: inline-block;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fa-reply {
    background-image: url(icons/ic_reply_black_24px.svg);
}

.fa-clipboard {
    background-image: url(icons/ic_content_copy_black_24px.svg);
}

.fa-trash {
    background-image: url(icons/ic_delete_black_24px.svg);
}

.fa-chevron-down {
    background-image: url(icons/ic_expand_more_black_24px.svg);
}

.fa-exclamation-triangle {
    background-image: url(icons/variants/ic_warning_f39c12_24px.svg);
}
