/* Defines KokoroIO.XamarinForms' orignal styles */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -ms-content-zooming: none;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: sans-serif;
}
.talk.continued .avatar img {
  display: none;
}
.talk.continued .speaker {
  display: none;
}
.talk .avatar {
  max-height: 40px;
}
.talk .avatar img {
  border-radius: 5px;
}
.talk.continued.hidden,
.talk.not-continued.hidden {
  padding-top: 0;
}
.talk.hidden > div {
  display: none !important;
}
.talk:last-child {
  margin-bottom: 10px;
}
.talk {
  position: relative;
}
.talk > .message-menu {
  display: none;
}
.talk.message-hover,
.talk:hover {
  background-color: #f8f8f8;
}
.talk.message-hover > .message-menu,
.talk:hover > .message-menu {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  width: 96px;
  height: 32px;
  top: -32px;
  right: 32px;
  line-height: 32px;
  z-index: 100;
  text-align: center;
}
.talk.message-hover > .message-menu > a,
.talk:hover > .message-menu > a {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #fff;
  border-left-color: #fff;
}
.talk.message-hover > .message-menu > a:first-child,
.talk:hover > .message-menu > a:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-left-color: #ccc;
}
.talk.message-hover > .message-menu > a:last-child,
.talk:hover > .message-menu > a:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.talk.message-hover > .message-menu > a .fa,
.talk:hover > .message-menu > a .fa {
  width: 18px;
  height: 18px;
}
.talk.message-hover > .message-menu > a.disabled .fa,
.talk:hover > .message-menu > a.disabled .fa {
  opacity: 0.5;
}
.talk.message-hover:first-child > .message-menu,
.talk:hover:first-child > .message-menu {
  top: 0;
}
html.html-phone .talk > .message-menu {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  right: 0;
  line-height: 24px;
  text-align: center;
  opacity: 0.1;
}
html.html-phone .talk > .message-menu > a {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border-width: 0;
  border-radius: 0;
  background-color: transparent;
}
html.html-phone .talk > .message-menu > a .fa {
  width: 24px;
  height: 24px;
}
html.html-phone .talk.message-hover,
html.html-phone .talk:hover {
  background-color: none;
}
html.html-phone .talk.message-hover > .message-menu,
html.html-phone .talk:hover > .message-menu {
  opacity: 0.8;
}
.fa {
  display: inline-block;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fa-reply {
  background-image: url(icons/ic_reply_black_24px.svg);
}
.fa-clipboard {
  background-image: url(icons/ic_content_copy_black_24px.svg);
}
.fa-trash {
  background-image: url(icons/ic_delete_black_24px.svg);
}
.fa-chevron-down {
  background-image: url(icons/ic_expand_more_black_24px.svg);
}
.fa-exclamation-triangle {
  background-image: url(icons/variants/ic_warning_f39c12_24px.svg);
}
.talk .message .filtered_text img {
  max-width: 100%;
  border-radius: 5px;
}
@media (min-width: 600px) {
  .talk .message .filtered_text img {
    max-width: 540px;
  }
}
.html-phone .embed_contents .embed_media.nsfw a,
.html-tablet .embed_contents .embed_media.nsfw a,
.html-phone .embed_contents .embed-thumbnail.nsfw a,
.html-tablet .embed_contents .embed-thumbnail.nsfw a {
  display: inline-block;
  background-color: #000;
}
.html-phone .embed_contents .embed_media.nsfw img,
.html-tablet .embed_contents .embed_media.nsfw img,
.html-phone .embed_contents .embed-thumbnail.nsfw img,
.html-tablet .embed_contents .embed-thumbnail.nsfw img {
  /*filter: grayscale(90%);*/
  opacity: 0.07;
}